<%- include('../partials/header') %>

<section class="user-form">
  <h1><%= user.username %> What do you want to do today?</h1>
  <!-- add new todo -->
  <form action="/todo/new" method="POST">
    <input type="text" name="todo[text]" id="" placeholder="Todo" required spellcheck="false" class="new-todo" autofocus>
    <button type="submit" class="plus-button"><i class="fas fa-plus"></i></button>
  </form>
</section>




<div class="todo-list">
  <% user.todos.forEach(function(todo){%>
  <!-- delete and show each todo -->
  <form action="/todo/delete/<%=todo.id%>?_method=DELETE" method="post">
    <ul>
      <li><span><button type="submit"><i class="far fa-trash-alt"></i></button></span><%= todo.text %></li>

    </ul>


  </form>
  <%}) %>
</div>

<!-- <div class="flex-item"> -->
<!-- Delete all todos from list -->
<!-- <form action="/todo/delete/all?_method=DELETE" method="POST">
    <button type="submit">DELETE ALL!!!!</button>
  </form>
</div> -->

<%- include('../partials/footer') %>